!!!5
%html
  %header
    %meta{charset: 'utf-8'}
  %body
    .main
      .main__posts
        .main__posts__post
    .side
      .side__advertisement
      .side__my-page
      .side__feed
  %footer
    .left-content
    .right-content
