@import 'mixin';
@import 'variable';

.main {
  width: 80%;
  margin: 0 auto;
  @include clearfix;
  &__header {
    width: 75%;
    .main__header__title {
      line-height: 28px;
      font-size: 20px;
      margin-bottom: 10px;
    }
    .main__header__btn {
      background-color: $green;
      color: $white;
      width: 215px;
      line-height: 180%;
      border-radius: 3px;
      display: block;
      text-decoration: none;
      text-align: center;
      margin-bottom: 18px;
    }
  }
  &__body {
    @include clearfix;
    float: left;
    width: 75%;
    &__tag {
      @include clearfix;
      border-bottom: 2px solid $thin-gray;
      &--feed {
        text-decoration: none;
        display: block;
        float: left;
        @include tag-btn;
        margin: 0;
        font-size: 13px;
      }
      &--all-posts {
        text-decoration: none;
        display: block;
        float: left;
        display: block;
        text-align: center;
        padding: 10px;
        margin: 0;
        font-size: 13px;
      }
      &--my-posts {
        text-decoration: none;
        display: block;
        float: right;
        display: block;
        text-align: center;
        padding: 10px;
        margin: 0;
        font-size: 13px;
      }
    }
    &__posts {
      &__post {
        height: 55px;
        position: relative;
        &__pg-lung-img {
          position: absolute;
          top: 15px;
          bottom: 0;
          margin: auto;
        }
        & i {
          position: relative;
          left: 25px;
          top: 5px;
          color: gray;
        }
        &__info {
          width: 94%;
          float: right;
          font-size: 12px;
          @include clearfix;
          &__text {
            float: left;
            margin-top: 3px;
          }
          &__good {
            float: right;
            margin-right: 30px;
          }
        }
        &__title {
          width: 94%;
          text-decoration: none;
          float: right;
          font-weight: bold;
        }
      }
      &__more {
        text-decoration: none;
        &__btn {
          margin: 20px 0;
          border: 1px solid $thin-gray;
          border-radius: 3px;
          font-size: 14px;
          text-align: center;
          padding: 5px 0;
        }
      }
    }
  }
  .main__side {
    width: calc(25% - 10px);
    float: right;
    margin-left: 10px;

    &__advertisement {
    }
    &__account {
      width: 100%;
      border: 2px solid $thin-gray;
      @include clearfix;
      &__image {
        float: left;
        padding: 10px
      }
      &__name {
        float: left;
        font-size: 18px;
        padding-top: 10px;
        text-decoration: none;
        width: calc(100% - 65px- 35px - 20px);
      }
      &__action {
        float: left;
        font-size: 13px;
      }
    }
  }
}

.user_dropdown {
  border: 1px solid $thick-gray;
  font-size: 14px;
  position: absolute;
  top: 35px;
  right: 10px;
  border-radius: 3px;
  background-color: $white;
  padding: 5px 0;
  list-style: none;
  li{
    color: black;
    padding: 0 20px;
    &:hover{
      background-color: #bef891;
    }
    a{
      color: black;
    }
  }
}
