@import 'variable';

@mixin clearfix {
  &:after {
    content: "";
    clear: both;
    display: block;
  }
}
@mixin tag-btn {
  text-align: center;
  border: 2px solid #ddd;
  border-bottom-style: none;
  padding: 10px;
}

@mixin good-btn {
  float: right;
  text-decoration: none;
  color: $white;
  margin-bottom: 25px;
  border-radius: 3px;
  background-color: $white;
  color: $green;
  width: 20%;
  @include clearfix;
  text-align: center;
  line-height: 25px;
  font-size: 14px;
}
